<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" [(ngModel)]="id" placeholder="Search Student By ID">
          <button class="btn btn-warning" (click)="getStudentbyid(id)">Search <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg></button>
        </div>
        <br>
        <div class="search">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" [(ngModel)]="std" placeholder="Search Student By Class">
            <button class="btn btn-warning" (click)="getStudentbyclassid(std)">Search <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg></button>
          </div>
        
      </div>
      
    </div>
</div>

<div class="container searchTable ">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Student ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Standard</th>
        <th scope="col">DOB</th>
        <th scope="col">Subject</th>
     
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.standard }}</td>
        <td>{{ student.dob }}</td>
        <td>{{ student.subject }}</td>
       
        
      </tr>
    </tbody>
  </table>
</div>

<div class="container searchTableclass ">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Student ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Standard</th>
          <th scope="col">DOB</th>
          <th scope="col">Subject</th>
       
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let student of students">
          <td>{{ student.id }}</td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.standard }}</td>
          <td>{{ student.dob }}</td>
          <td>{{ student.subject }}</td>
         
          
        </tr>
      </tbody>
    </table>
  </div>
  